@{
    ViewData["Title"] = "Home Page";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<body>
    <div class="text-center">
        <h1 class="display-4">Barınağa Hoşgeldiniz</h1>
    </div>
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot">Kolayca Hayvan Sahiplen</h2>
                    <br/
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web3/img/indir.jpeg" style="width:370px;height:370px;" alt="">
                                <img src="~/web3/img/kedi11.jpg" style="width:370px;height:370px;" alt="">
                                <img src="~/web3/img/muhabbet-kuslari.jpg" style="width:370px;height:370px;" alt="">
                            </div>
                            <br/
                            <div class="grid1-desc">

                                <p> <i class="fas fa-paw"></i>Giriş Yaparak Hayvanlarımızı Görebilir Yeni Hayvan Ve Türleri Ekleyebilir Ve Sahiplenebilirsiniz <i class="fas fa-paw"></i></p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    <div class="header_bottom_right_images">

                        <div class="slider" style="height:380px;width:650px;">
                            
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>


